/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f4f4f4;
}




h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid red;
    border-radius: 4px;
    width: 400px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 400px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.alert {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

select {
    font-size: 14px;
}

input[type="number"] {
    max-width: 100px;
}

/* Container Styling */
.container {
    width: 28%;         /* Set width to 90% */
    max-width: 1200px;  /* Optional: to avoid it becoming too large on wide screens */
    margin-top: 20px;   /* Space from top */
    margin-bottom: 20px; /* Space from bottom */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the tables */
.table-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Gap between tables */
    margin-top: 20px;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}

/* Styling for the logout icon button */
.logout-btn {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    border-radius: 50%;  /* Make it circular */
    font-size: 20px;
    width: 40px;   /* Set width and height */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
}

.logout-btn:hover {
    background-color: #c0392b;
}

/* Styling the logout icon */
.logout-btn i {
    font-size: 20px;
    margin: 0;
}
